<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid p-5">
        <h1>Sign in</h1>
        <div class = "row">
            <form action="#" th:action="@{/login}" th:object="${loginVM}" method="post">
                <div class="form-group">
                    <label for="e">Email address</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" th:field="*{email}" id="e" placeholder="email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <h3 th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></h3>
                </div>
                <div class="form-group">
                    <label for="p">Password</label>
                    <input type="password" class="form-control" name="password" value="" id="p" placeholder="password">
                    <h3 th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></h3>
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </form>
        </div>
    </div>
</body>
</html>