<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PrivatePage</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <div class="container bg-light p-3">
        <div class="bg-dark" style="border-radius: 8pt; display: flex; justify-content: center">
            <h1 class="text-light">Private page</h1>
        </div>
        <div class="p-3" style="display: flex; justify-content: center">
            <h3>
                <span>Here is your random cat image, </span>
                <span class="text-info" th:text="${name}"></span>
            </h3>
        </div>
        <img alt="Your daily cat image" th:src="'/images/Cat' + ${imageNumber} + '.jpg'"
             class="rounded mx-auto d-block img-fluid">
    </div>
</body>
</html>