<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <h1>Sign up</h1>
        <div class = "row">
                <form method="post">
                    <div class="form-group">
                        <label for="u">username</label>
                        <input type="text" name="user" value="" id="u" placeholder="username">
                    </div>
                </form>
        </div>
    </div>
</body>
</html>