<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid p-5">
        <h1>Sign up</h1>
        <div class = "row">
                <form action="#" th:action="@{/register}" th:object="${registrationVM}" method="post">
                    <div class="form-group">
                        <label for="u">Name</label>
                        <input type="text" class="form-control" name="user" th:field="*{name}" id="u" placeholder="name">
                       <!-- <h3 th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></h3>-->
                        <small id="nameHelpBlock" class="form-text text-muted" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                    </div>
                    <div class="form-group">
                        <label for="s">Surname</label>
                        <input type="text" class="form-control" name="surname" th:field="*{surname}" id="s" placeholder="surname">
                       <!--<h3 th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></h3>-->
                        <small id="surnameHelpBlock" class="form-text text-muted" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></small>
                    </div>
                    <div class="form-group">
                        <label for="e">Email</label>
                        <input type="email" class="form-control" name="email" th:field="*{email}" id="e" placeholder="email">
                        <small id="emailHelpBlock" class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                        <!--<h3 th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></h3>-->
                    </div>
                    <div class="form-group">
                        <label for="p">Password</label>
                        <input type="password" class="form-control" name="password" value="" id="p" placeholder="password">
                        <small id="passwordHelpBlock" class="form-text text-muted"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                        <!--<h3 th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></h3>-->
                    </div>
                    <div class="form-group">
                        <label for="c">Password Confirm</label>
                        <input type="password" class="form-control" name="passwordConf" value="" id="c" placeholder="confirm password">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="privacyConsent" th:field="*{privacyConsent}" id="pc">
                        <label class="form-check-label" for="pc">Privacy Consent</label>
                        <small  id="checkboxHelpBlock" class="form-text text-muted" th:if="${#fields.hasErrors('privacyConsent')}" th:errors="*{privacyConsent}"></small>
                        <!--<h3 th:if="${#fields.hasErrors('privacyConsent')}" th:errors="*{privacyConsent}"></h3>-->
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Register">
                    </div>
                </form>
        </div>
    </div>
</body>
</html>